
.container {
    background-color: darkcyan;
    animation: pulse 2s infinite;
}

/* Keyframe animation to pulse */

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}